header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  height: 100px; /* ou la taille souhaitée pour votre logo */
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
